body {
    margin: 0;
    font-family: tahoma, sans-serif;
    background: #111;
    color: #eee;
    direction: rtl;
}

header {
    background: #000;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #ff3333;
}

nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

#hero {
    background: url('https://i.imgur.com/LPs7dFe.jpeg') no-repeat center/cover;
    padding: 100px 20px;
    text-align: center;
}

#hero h2 {
    font-size: 40px;
    color: white;
}

#hero button {
    padding: 10px 20px;
    border: none;
    background: #ff3333;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 15px;
}

section {
    padding: 40px 20px;
    text-align: center;
}

.class-box {
    background: #222;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    border-right: 5px solid #ff3333;
}

.gallery-row {
    display: flex;
    overflow-x: auto;
}

.gallery-row img {
    width: 250px;
    margin: 10px;
    border-radius: 10px;
}

footer {
    background: #000;
    padding: 20px;
    text-align: center;
}
